:root{
  --base-color: rgb(234, 234, 234);
  --base--variant:rgb(79, 79, 79);
  --text--color: rgb(79, 79, 79);
  --theme--color: rgb(79, 79, 79);
  --secondary--text: rgb(234, 234, 234);
}
 
.darkmode {
  --base-color: rgb(79, 79, 79);
  --base--variant: rgb(234, 234, 234);
  --text--color: rgb(234, 234, 234);
  --theme--color: rgb(234, 234, 234);
  --secondary--text: rgb(79, 79, 79);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--base-color);
  color: var(--text--color);
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  height: 7%;
  margin-top: 20px;
  margin-left: 40px;
  background-color:var(--base--variant);
  color: var(--secondary--text);
  padding: 16px 32px;
  display: flex;
 justify-content: space-between;
  align-items: center;
  border-radius: 70px;
  z-index: 1000;
}
.navbar h2 {
  color: var(--secondary--text);
  font-size: 24px;
  margin-right: auto;
}
 
.navbar nav {
  display: flex;
  align-items: center;
}
 
.navbar nav a {
  color: var(--secondary--text);
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
 
#theme-switch{
  height: 60px;
  width: 60px;
  margin-top: 70px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--text--color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 40px;
}
#theme switch svg {
  fill: var(--secondary--text);
}
#theme-switch svg:last-child{
  display: none;
}
 
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
 
.header {
  text-align: center;
  font-size: 48px;
  margin-bottom: 100px;
  margin-top: 150px;
}
 
.subheader {
  font-size: 32px;
  margin: 40px 60px 50px;
  color: var(--text--color);
}
 
.underheader {
  position: absolute;
      top: 100px;
      right: 30px;
      color: var(--text--color);
      font-size: 18px;
      font-weight: bold;
}
.section {
  display: flex;
  align-items: center;
  padding: 0 60px;
  gap: 20px;
  background-color: var(--base-color);
}
 
.section.reverse {
  flex-direction: row-reverse;
  color: var(--base--variant);
  background-color: var(--base-color);
}
 
.section img {
  width: 600px;
  height: 350px;
  border-radius: 30px;
  border: 5px solid var(--base--variant);
}
 
.section p {
  width: 50%;
  font-size: 22px;
  line-height: 1.5;
}