  :root{
  --base-color:blue;
  --base--variant:rgb(2, 10, 82);
  --text--color: rgb(2, 10, 82);
  --secondary--text: blue;
}

.darkmode {
  --base-color: red;
  --base--variant:rgb(82, 2, 2);
  --text--color: rgb(82, 2, 2);
  --secondary--text: red;
}
 
#theme-switch{
  height: 50px;
  width: 50px;
  margin-top: 70px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--text--color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
}
#theme switch svg {
  fill: var(--secondary--text);
}
#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color:var(--base-color);
      color: var(--text--color);
      text-align: center;
    }
        .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  height: 40px;
      background-color:var(--base--variant);
      color: var(--secondary--text);
  padding: 16px 32px;
  display: flex;
    justify-content: space-between;
  align-items: center;
  z-index: 1000;

}

.navbar h2 {
  color: var(--secondary--text);
  font-size: 24px;
  margin-right: auto;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav a {
  color:  var(--secondary--text);
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

    h1 {
      margin-top: 70px;
      font-size: 40px;
      font-weight: bold;
    }

    h2.subtitle {
      margin-top: 50px;
      margin-bottom: 40px;
      font-size: 20px;
      font-weight: bold;
    }

        .center-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 1);
    }
    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      padding: 0 20px 40px;
    }

    .center-box {
      background: var(--base--variant);
      padding: 20px;
      border-radius: 100px;
      width: 30%;
      min-width: 250px;
      box-sizing: border-box;
    }
    .center-box img {
      width: 100%;
      border-radius: 100px;
      border: 2px solid var(--base-color);
    }

    .center-box h3 {
      margin-top: 0;
      font-size: 18px;
      color: var(--secondary--text);
    }

    .center-box p {
      color: var(--secondary--text);
      font-size: 14px;
    }

    @media (max-width: 768px) {
      .center-box {
        width: 45%;
      }
    }

    @media (max-width: 480px) {
      .center-box {
        width: 100%;
      }
    }